#links {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  position: relative;
  display: flex;
  height: 32px;
  width: 100%;
  top: 15px;
}

#links > a {
  text-decoration: none;
  flex-direction: row;
  margin: 0 10px;
  display: flex;
}

#links > a > img {
  width: 32px;
  height: 32px;
  display: inline;
  margin: 0 5px 0 0;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

#logo {
  color: var( --secondary );
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#kuso_icon {
  margin-right: 16px;
  height: 96px;
  width: 96px;
}

#logo_text {
  flex-direction: column;
  display: flex;
}

#kuso_text {
  font-size: 2em;
  margin: 0;
}

#jap {
  opacity: 0.3;
  font-size: 0.75em;
}