:root {
  --gray: #666666;
  --primary: #161616;
  --secondary: #5A448E;
}

.gray { color: var( --gray ); }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-family: "Courier New", monospace;
  background-color: var( --primary );
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  color: var( --secondary );
}

@media ( max-width: 1038px ) {
  #main { flex-direction: column; }
}

#members, #updates { width: 50%; }

.member {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  font-weight: 800;
  justify-content: space-between;
}

.member:first-of-type { padding: 35px 0 0; }

.member_links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.member_links>a {
  margin: 0;
  padding: 0;
  text-align: right;
  padding-left: 15px;
  text-decoration: none;
  color: var( --secondary );
}

.member_links>a>img, .member_links>img {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.member_links>a>img:first-of-type {
  margin-top: 5px;
}

#members_table {
  top: 10%;
  left: 10%;
  margin: 0;
  width: 80%;
  padding: 0;
  height: 75%;
  position: relative;
}

#members_table>tbody>tr>td {
  padding: 25px 0;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
  border: 3px ridge var( --gray );
  transition: border 0.1s ease-in-out;
}

#members_table>tbody>tr>td:hover {
  cursor: pointer;
  border: 3px ridge var( --secondary );
}

#updates_list {
  top: 10%;
  left: 10%;
  width: 80%;
  padding: 0;
  margin: 0px;
  height: 75%;
  position: relative;
  overflow-y: scroll;
}

#updates_list>ul {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  position: relative;
  list-style-type: none;
}

#updates_list>ul>li {
  padding: 15px 0;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: var( --secondary ) solid 3px;
}

#updates_list>ul>li:last-of-type {
  border-bottom: none;
}

#updates_list>ul>li>a {
  left: 15px;
  position: relative;
  text-decoration: none;
  color: var( --secondary );
}

#updates_list>ul>li>a:hover {
  cursor: pointer;
}

#updates_list>ul>li>span {
  left: 15px;
  position: relative;
}

#updates_list>ul>li>span>i {
  top: 3px;
  position: relative;
}

#popup, #blogup {
  padding: 0;
  margin: 0px;
  display: flex;
  font-size: 1.5em;
  overflow: scroll;
  position: absolute;
  border-radius: 5px;
  justify-content: center;
  background-color: var( --primary );
  border: 3px ridge var( --secondary );
}

#popup>p, #blogup>p {
  top: 25px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.5em;
  position: relative;
  text-align: center;
  font-weight: bolder;
}

#content {
  margin: 0;
  width: 80%;
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
  padding: 35px 10px;
  position: relative;
  flex-direction: column;
}

#content>a {
  color: white;
}

#close {
  margin: 0;
  padding: 0;
  width: auto;
  position: absolute;
  color: var( --gray );
  background-color: var( --primary );
}

#close:hover { cursor: pointer; }

#credit {
  margin: 0;
  padding: 0;
  right: 10px;
  bottom: 2px;
  height: 25px;
  position: absolute;
  text-align: center;
  color: var( --gray );
}

#credit>a {
  margin: 0;
  padding: 0;
  color: var( --gray );
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-shadow: 0 0 0 var( --secondary );
}

#credit>a:hover {
  cursor: pointer;
  color: var( --secondary );
  text-shadow: 0 0 3px var( --secondary );
}