:root {
  --gray: #666666;
  --primary: #161616;
  --secondary: #5A448E;
}

.gray { color: var( --gray ); }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: var( --primary );
  font-family: "Courier New", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credit {
  margin: 0;
  padding: 0;
  right: 10px;
  bottom: 2px;
  height: 25px;
  position: absolute;
  text-align: center;
  color: var( --gray );
}

#credit>a {
  margin: 0;
  padding: 0;
  color: var( --gray );
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-shadow: 0 0 0 var( --secondary );
}

#credit>a:hover {
  cursor: pointer;
  color: var( --secondary );
  text-shadow: 0 0 3px var( --secondary );
}