* { box-sizing: border-box; }

.column {
  float: left;
  width: 50%;
  padding: 0px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left; }

@media screen and ( max-width: 600px ) {
  .column {
    width: 100%; } }

.hidebutton { display: block; }